.food-card {
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(to right,#f0bdaa,#69b1b5, #f39b7b);
    border-color: chocolate;
    border-width: 2mm;
    border-style: dotted;
    
    
    height: 100%; /* Ensures the card takes up the full height */
}

.food-card:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.food-img {
    height: 250px; /* Set a fixed height for images */
    object-fit: cover; /* Ensures image maintains aspect ratio */
   
}

.row {
    margin-left:10;
    margin-right: 10;
}

/* Add padding between cards */
.col-12,
.col-sm-6,
.col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}


/* 

Custom CSS for Home page

.food-card {
    transition: transform 0.5s ease-in-out;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-img {
    height: 200px;
    object-fit: cover;
} */
